@charset "UTF-8";

   #div_pwd {
      width: 70%;
      height: 15%;
      margin-bottom: 5%;
      margin-left: 10%;
      position: relative;
   }
   
   #div_pwd2 {
      width: 70%;
      height: 15%;
      margin-bottom: 5%;
      margin-left: 10%;
      position: relative;
   }
   
   #div_updateResult {
      height: 15%;
      margin-bottom: 5%;
      margin-left: 5%;      
      position: relative;
      font-size: 25pt;
   }
   
   #div_btnUpdate {
   		margin-right: 50px;
   		font-size: 23;
   		font-family:SpeedeeK; 
   		font-weight:600;
   }