@charset "UTF-8";

    div#container{
    	display: flex;
		border: solid 0px purple;
		width: 80%;
		margin: 20px auto; 
		margin-top: 150px;
	}

    #th{ 
    	font-size: 25pt;  
    	text-align: center; 
    	padding-left:320px;
    	padding-top: 28px; 
    }
    
    
    