@charset "UTF-8";

div[name='total'] {
	
	
/*  		border: solid 3px red;  */
 		height: 1730px;
 			font-family:SpeedeeK;
 		
 		
	}
	
	
	
	div#container {
	
		
/* 		border: solid 10px yellow; */
		height: 1530px;

	}
	
	
		.topimage {
      position: relative;
      border: solid 0px green;
      width:100%;
      height: 226px;
      margin-top: 88px;
      
   }
   
   .topimage:before {
      content:"";
      width:100%;
      height:100%;
      position:absolute;
      background-color:rgba(0,0,0,.45); 
   }
   
   
   .toptext{
      border: solid 0px red;
       width: 1146px;
       height: 150px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -54%);
       font-size:14pt;
       color: #fff;
      font-family:SpeedeeK;
        font-style:normal;
        font-weight:500;
   }
   
   .toptext2{
      border: solid 0px blue;
       width: 1146px;
       height: 30px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, 235%);
       padding: none;
   }
   
   .titDep1{display:block;
       font-size: 55px; 
       line-height:1;
       font-family:SpeedeeK;
         font-style:normal;
   }
   
   .toptext2 > ul{
      padding: 0;
   }
   
   .toptext2 > ul > li{
      display:inline;
   }
   
   .toptext2 >ul >li.listsecond{
      margin-left: 40px;
   }
   
   .toptext2 li > a{
      color: white;
      text-decoration: none;
      font-family:SpeedeeK;
      font-weight:500;
   }
		
		
	
	
		
	div#contents {
	
/* 		border: solid 1px skyblue; */
		
		width: 100%;
	    margin-top: 50px;
	    
	}
	
	
	div#contents li {
	
		margin: 0 auto;
		text-align: center;
		width: 60%;
		
		position:relative;
		left: -30px;
		
	}
	
	
	div#contents li:first-child{
	
		
		
/* 		border: solid 1px gray; */
		font-weight: bold;
		font-size: 23pt;
	}
	
	div#contents li:nth-child(2){
		
		
		
/* 	    border: solid 1px red; */
		font-size: 14pt;
		font-weight: bold;
		color: gray;
	}
	
	
	div#visual {
	
/* 		border: solid 1px orange; */
	
		width: 90%;
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    
	    margin: 0 auto;
		
	}
	
	
	
		
	

	
	
	
	div#visual button, div#visual img#burger {
	
		margin: 0 auto;
	
	}
	

	
	
	
	img#burger {
		width: 50%;
		  
	}
	

	
	
	
	div#contents_2{
	
	/*	border: solid 1px red; */
		text-align: center;
		font-weight: bold;
		line-height: 28px;
		color: gray;
		font-size: 16pt;
		
		
		display: flex;
  		justify-content: center;
		width: 30%;
		white-space: unset;
		
		margin: auto;
		margin-bottom: 200px;
	}
	
	.accordion_wrap {
	
	
	width: 80%;
	margin: 0 auto;
/* 	border: solid 1px red; */
	
	}
	
	
	

	.accordion1 p a {
		padding:15px 30px 10px 20px;  
		line-height:26px; 
		color:black;
		font-weight: bold;
		font-size: 15pt;
		display:block;
		position:relative;
		outline:0;
		text-decoration:none;
		background-position:30px center;
		box-sizing:border-box;}
	
	.accordion1 div {
		width:50%;
		padding:5px 20px 25px 20px; 
		line-height:20px; 
		position:relative;
		height:auto;display:none;
		line-height:20px;
		color:black;}
		
	
		.accordion1 p a:after {
		  content: '\02795'; /* Unicode character for "plus" sign (+) */
		  font-size: 13px;
		  color: #777;
		  float: right;
		  margin-left: 5px;
		}
		

		
		section#nutrients p a,
		section#allergy p a,
		section#origin p a{
		
		border-bottom: solid 1px black;
		
		}
	
	
	
	section#nutrients>p {
	
		margin-bottom: 35px;
		
	
	}	
	
	section#allergy>p {
	
		margin-bottom: 35px;
	
	}
	

		
	
	
	table.nutrients th:first-child,table.nutrients td:first-child{
	
		color: #e68a00;
		font-weight: bold;
	
	
	}	
	
	
	
	
	
	section#allergy div>p , section#origin div>p {
	
	color: #e68a00;
	
	font-weight: bold;
	
	}
	
	section#allergy h3 {
	
	font-size: 10pt;
	
	color: gray;
	}
	
	
	div.accordion1 table.nutrients {
	
		width: 1000px;
		
		margin-left: 150px;
		/*border:solid 1px black;*/
	
	}
	
	table.nutrients th, table.nutrients td {
	
		height: 80px;
		text-align: center;
	
	}
	
	table.nutrients th,		
	table.nutrients td:first-child,
	table.nutrients td:nth-child(2),
	table.nutrients td:nth-child(3),
	table.nutrients td:nth-child(4),
	table.nutrients td:nth-child(5),
	table.nutrients td:nth-child(6),
	table.nutrients td:nth-child(7),
	table.nutrients td:nth-child(8),
	table.nutrients td:nth-child(9)	 
	{
	
	
		border-top: solid 1px black;
	
	}
		
	table.nutrients th:nth-child(2),		
	table.nutrients td:nth-child(2)
	{
		
		border-left: solid 1px black;
	
	}	
	
	table.nutrients {
	
		border-bottom: solid 1px black;
	
	}
	
	
	table.nutrients td:nth-child(2),
	table.nutrients td:nth-child(3),
	table.nutrients td:nth-child(4),
	table.nutrients td:nth-child(5),
	table.nutrients td:nth-child(6),
	table.nutrients td:nth-child(7),
	table.nutrients td:nth-child(8),
	table.nutrients td:nth-child(9)	 
	{
	
	
		color: gray;
	
	}
	
	


	button.prev {
	
		border: none;
		cursor: pointer;
		
		width: 100px; 
		height: 100px; 
		
		background-color: orange;
		border-radius: 50%;
		
	}
	
		
	button.next {
	
	
		border: none;
		cursor: pointer;
		
		width: 100px; 
		height: 100px; 
		
		background-color: orange;
		border-radius: 50%;
		
	
	}
	
	p.prev_item_name {
	
		
		
		opacity: 0;
		
	}
	
	p.next_item_name {
	
		
		
		opacity: 0;
		
	}
	
	button.prev > img.prev {
	
		max-width: 100%; 
		height: auto; 

		margin-top: 30px;
		
	}
	
	button.next > img.next {
	
		max-width: 100%; 
		height: auto; 

		margin-top: 30px;
		
	}
	
 	button.prev > img.prev_image { 
	
 		max-width: 100%;  
 		height: auto;  

 		display: none; 
		
		

 	} 
	
 	button.next > img.next_image { 
	
 		max-width: 100%;  
 		height: auto;  

 		display: none; 

 	} 
	
		
	button.prev:hover  img.prev { 
		
 		max-width: 100%;  
 		height: auto;  

 		display: none; 

		
 	} 
	
	
 	button.next:hover  img.next { 
		
 		max-width: 100%;  
 		height: auto;  

		 
 		display: none;		 
	
 	} 
	
 	button.prev:hover  img.prev_image { 
		
 		max-width: 100%;  
 		height: auto;  

 		display: block; 
		
 		margin: 5px auto;
		
 	} 
	
	
 	button.next:hover  img.next_image { 
		
 		max-width: 100%;  
 		height: auto;  
		 
 		display: block; 
		
 		margin: 5px auto; 
		
 	} 
	
	
 	button.prev:hover  p.prev_item_name { 
		
 		opacity: 1; 
		
 		font-weight:bold; 
		
 	} 
	
 	button.next:hover  p.next_item_name { 
	
 		opacity: 1; 
		
 		font-weight:bold; 
		
 	} 

	
	
			
