@charset "UTF-8";

	tr.memberInfo:hover {
		cursor: pointer;
		color: #db0007;
	}
	
	body {
		font-family:SpeedeeK; 
		font-weight:600;
		margin-top: 138px;
	}
	
	table {
		margin-left: 100px;
	}
	
		
   .topimage {
      position: relative;
      width:100%;
      height: 200px;
      margin-top: 100px;
      margin-bottom: 30px;
   }
   
	.page-link {
	  color: #000; 
	  background-color: #fff;
	  border: 1px solid #ccc; 
	}
	
	.page-item.active .page-link {
	 z-index: 1;
	 font-weight:bold;
	 background-color: black;
	 
	}
	
	.page-link:focus, .page-link:hover {
	  color: #000;
	  background-color: #ccc; 
	  border-color: #ccc;
	}
	   
   
   .toptext{
        border: solid 0px red;
        width: 1146px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:14pt;
        color: #fff;
        font-family:SpeedeeK;
        font-style:normal;
        font-weight:600;
        text-align: center;
   }
   
   
   
   .titDep1{display:block;
	       font-size: 50pt; 
	       line-height:1; 
	       font-family:SpeedeeK;
	       font-weight: 600;
	   }
   
   .topimage{
      background:url(/SemiProject__McDonald/images/품질이야기상단이미지.jpg) 50% 50% no-repeat;
   }
	