@charset "UTF-8";

	@font-face {
	  font-family:SpeedeeK;
	  font-weight:400;
	  font-style:normal;
	  src: url(../font/Speedee_K_L.eot);
	  src: url(../font/Speedee_K_L.eot#iefix) format('embedded-opentype'),
	       url(../css/font/Speedee_K_L.woff) format('woff'),
	       url(../font/Speedee_K_L.ttf) format('truetype'),
	       url(../font/Speedee_K_L.svg#webfont) format('svg')}
	@font-face {
	  font-family:SpeedeeK;
	  font-weight:500;
	  font-style:normal;
	  src: url(../font/Speedee_K_R.eot);
	  src: url(../font/Speedee_K_R.eot#iefix) format('embedded-opentype'),
	       url(../css/font/Speedee_K_R.woff) format('woff'),
	       url(../font/Speedee_K_R.ttf) format('truetype'),
	       url(../font/Speedee_K_R.svg#webfont) format('svg')}
	@font-face {
	  font-family:SpeedeeK;
	  font-weight:600;
	  font-style:normal;
	  src: url(../font/Speedee_K_B.eot);
	  src: url(../font/Speedee_K_B.eot#iefix) format('embedded-opentype'),
	       url(../css/font/Speedee_K_B.woff) format('woff'),
	       url(../font/Speedee_K_B.ttf) format('truetype'),
	       url(../font/Speedee_K_B.svg#webfont) format('svg')} 

	div#divRegisterFrm {
		margin-top: 137px;
	}

	table#tblMemberRegister {
	
		width: 80%;
		margin: 10px;
		
	}
	
	table#tblMemberRegister #th{
	
		padding: 30px;
		text-align: center;
		font-size: 25pt;
		
	}
	
	table#tblMemberRegister td{
	
		line-height: 30px;
		padding: 8px 0; 
		
	}
	
	span.star { 
		color: red;
		font-weight: bold; 
		font-size: 13pt;
	} 
	
	span.essential { 
		color: white;
		font-weight: bold; 
		font-size: 13pt;
	} 
	
	
	#tblMemberRegister > tbody > tr > td.gap {
		padding-left: 100px;
	}
	
	p {
	  border: 1em violet;
	  padding: 55px;
	  font-size: 45pt; 
	  color: white;
	  
	}
	
	.bg1 { 
	  background-image: url(/SemiProject__McDonald/images/브랜드소개상단이미지.jpg);  
	  background-clip: border-box;  
	}
	